* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0 auto;
    background-color: var(--c-white);
    color: var(--c-text);
    font-family: var(--font-p);
    font-size: var(--font-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-h);
}

p {
    font-family: var(--font-p);
    font-weight: 400;
}

.d-none {
    display: none !important;
}

.mobile-br {
    display: none;
}